@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textare {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F7F8;
}

.header {
  height: 64px;
  font-size: 13px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  margin: 0px 0px 40px 0px;
}
.header__main-header {
  margin: 0px auto;
  max-width: 1104px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header__left-side {
  display: flex;
  justify-content: space-between;
  flex: 0 1 583px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 1 151px;
}
.header__logo img {
  max-width: 100%;
}
.header__logo img:first-child {
  margin: 0px 6px 0px 0px;
}
.header__tabs {
  display: flex;
  justify-content: space-between;
  flex: 0 1 384px;
}
.header__column {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  transition-duration: 0.3s;
}
.header__column:hover {
  box-shadow: 0 -2px 0 0 #666666 inset;
  color: rgba(0, 0, 0, 0.8);
}
.header__right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 69px;
}
.header__login {
  color: #336FEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__login-text {
  width: 37px;
  margin: 0px 8px 0px 0px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header__login-image {
  width: 24px;
  height: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header__login-image img {
  max-width: 19px;
}

.title {
  height: 48px;
  font-weight: 900;
  font-size: 44px;
}

.subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.frontend-dev {
  display: flex;
  height: 812px;
  padding: 40px 128px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.frontend-dev-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.frontend-dev-header__text-container {
  display: flex;
  width: 912px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.frontend-dev-header__button {
  display: inline-block;
  background-color: #FFDD2D;
  padding: 16px 36px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  transition: 0.3s, border 0s;
}
.frontend-dev-header__button:hover {
  background-color: #FCC521;
}
.frontend-dev-header__button:active {
  background-color: #FAB619;
}
.frontend-dev-header__button:focus {
  box-shadow: 0px 2px 0px #000 inset, 0px -2px 0px #000 inset, 2px 0px 0px #000 inset, -2px 0px 0px #000 inset;
}

.frontend-dev-image {
  width: 1104px;
  height: 460px;
}
.frontend-dev-image img {
  max-width: 100%;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.who-header {
  display: flex;
  width: 100%;
  padding: 76px 224px 24px 224px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.who-body {
  display: flex;
  width: 100%;
  padding: 24px 128px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.who-body__content {
  max-width: 1104px;
  height: 360px;
  display: flex;
}
.who-body__image {
  width: 720px;
  height: 360px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: #fff;
  overflow: hidden;
}
.who-body__image img {
  max-width: 100%;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.who-body__list {
  display: flex;
  width: 437px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 48px 0px 168px 48px;
}
.who-body__list li {
  background: url(../img/list-item.svg) left top no-repeat;
  padding: 0px 0px 0px 20px;
}

.what {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.what-header {
  display: flex;
  width: 100%;
  padding: 76px 224px 24px 224px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.what-body {
  width: 100%;
  padding: 24px 128px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.what-body__column {
  display: flex;
  width: 336px;
  height: 232px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  background-color: #fff;
}
.what-body__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.what-body__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.what-body__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-header {
  display: flex;
  width: 100%;
  padding: 76px 224px 24px 224px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.how-body {
  display: flex;
  width: 100%;
  padding: 24px 128px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.how-body__coulmn {
  display: flex;
  width: 528px;
  height: 212px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: #fff;
}
.how-body__content {
  display: flex;
  width: 464px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.how-body__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
.how-body__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.how-body__list li {
  background: url(../img/list-item.svg) left top no-repeat;
  padding: 0px 0px 0px 20px;
}

.free {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free-header {
  display: flex;
  width: 100%;
  padding: 76px 224px 24px 224px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.free-body {
  display: flex;
  padding: 24px 128px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.free-body__column {
  display: flex;
  height: 320px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  border-radius: 24px;
  background-color: #fff;
}
.free-body__icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.free-body__icon img {
  max-width: 100%;
}
.free-body__content {
  display: flex;
  width: 464px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.free-body__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.free-body__list {
  display: flex;
  width: 464px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.free-body__list li {
  background: url(../img/list-item.svg) left top no-repeat;
  padding: 0px 0px 0px 20px;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-header {
  display: flex;
  width: 100%;
  padding: 76px 224px 24px 224px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.instruction-body {
  display: flex;
  padding: 24px 128px;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}
.instruction-body__column {
  width: 240px;
  height: 188px;
  position: relative;
}
.instruction-body__number {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #333;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  z-index: 1;
  position: absolute;
  left: 92px;
}
.instruction-body__content {
  display: flex;
  width: 240px;
  padding: 56px 32px 32px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background-color: #fff;
  z-index: 0;
  position: absolute;
  top: 28px;
}

.footer {
  width: 100%;
  height: 128px;
  margin: 64px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__line {
  width: 1104px;
  height: 20px;
  box-shadow: 0px -1px 0px 0px #E7E8EA inset;
  margin: 44px 128px 20px;
  flex: 0 0 1104px;
}
.footer__content {
  flex: 0 1 1104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1104px;
  margin: 0px 0px 24px 0px;
}
.footer__left {
  width: 528px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.footer__right {
  width: 238px;
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.mail {
  color: #336FEE;
}