@import "_resetStyles";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F7F8;
}
.header {
    height: 64px;
    font-size: 13px;
    box-shadow: 0px 4px 24px 0px rgba($color: #000000, $alpha: 0.12);
    margin: 0px 0px 40px 0px;

    &__main-header {
        margin: 0px auto;
        max-width: 1104px;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__left-side {
        display: flex;
        justify-content: space-between;
        flex: 0 1 583px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 151px;
        & img{
            max-width: 100%;
            &:first-child{
                margin: 0px 6px 0px 0px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        flex: 0 1 384px;
    }

    &__column{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.54);
        transition-duration: 0.3s;
        &:hover{
            box-shadow: 0 -2px 0 0 #666666 inset;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    &__right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 69px;
    }

    &__login {
        color: #336FEE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__login-text{
        width: 37px;
        margin: 0px 8px 0px 0px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__login-image{
        width: 24px;
        height: 24px;
        display: flex;
        justify-items: center;
        align-items: center;
        & img{
            max-width: 19px;
        }
    }
}
.title{
    height: 48px;
    font-weight: 900;
    font-size: 44px;
}
.subtitle{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.frontend-dev {
    display: flex;
    height: 812px;
    padding: 40px 128px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.frontend-dev-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__text-container {
        display: flex;
        width: 912px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    &__button {
        display: inline-block;
        background-color: #FFDD2D;
        padding: 16px 36px;
        border-radius: 8px;
        font-size: 15px;
        line-height: 24px;
        overflow: hidden;
        transition: 0.3s, border 0s;

        &:hover{
            background-color: #FCC521;
        }

        &:active{
            background-color: #FAB619;
        }

        &:focus{
            box-shadow:0px 2px 0px #000 inset, 0px -2px 0px #000 inset, 2px 0px 0px #000 inset, -2px 0px 0px #000 inset;
        }
    }
}
.frontend-dev-image {
    width: 1104px;
    height: 460px;
    & img{
        max-width: 100%;
    }
}
.who {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.who-header {
    display: flex;
    width: 100%;
    padding: 76px 224px 24px 224px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.who-body {
    display: flex;
    width: 100%;
    padding: 24px 128px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__content {
        max-width: 1104px;
        height: 360px;
        display: flex;
    }

    &__image {
        width: 720px;
        height: 360px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        background-color: #fff;
        overflow: hidden;
        & img{
            max-width: 100%;
            flex-shrink: 0;
            object-fit: cover;
        }
    }

    &__list {
        display: flex;
        width: 437px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 48px 0px 168px 48px;
        & li{
            background: url(../img/list-item.svg) left top no-repeat;
            padding: 0px 0px 0px 20px;
        }
    }
}
.what {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.what-header {
    display: flex;
    width: 100%;
    padding: 76px 224px 24px 224px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.what-body {
    width: 100%;
    padding: 24px 128px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;

    &__column {
        display: flex;
        width: 336px;
        height: 232px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-radius: 24px;
        background-color: #fff;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;

    }

    &__text{
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
}
.how {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-header {
    display: flex;
    width: 100%;
    padding: 76px 224px 24px 224px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.how-body {
    display: flex;
    width: 100%;
    padding: 24px 128px;
    justify-content: center;
    align-items: center;
    gap: 48px;

		&__coulmn {
            display: flex;
            width: 528px;
            height: 212px;
            padding: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            flex-shrink: 0;
            border-radius: 24px;
            background-color: #fff;
		}

		&__content {
            display: flex;
            width: 464px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
		}

		&__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px; /* 116.667% */
		}

		&__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            & li{
                background: url(../img/list-item.svg) left top no-repeat;
                padding: 0px 0px 0px 20px;
            }
		}
}



