@import "_resetStyles";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F7F8;
}
.header {
    width: 100%;
    height: 64px;
    font-size: 13px;
    box-shadow: 0px 4px 24px 0px rgba($color: #000000, $alpha: 0.12);

    &__container{
        margin: 0px auto;
        max-width: 1104px;
        height: 64px;
    }

    &__main-header {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__left-side {
        display: flex;
        justify-content: space-between;
        flex: 0 1 583px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 151px;
        & img{
            max-width: 100%;
            &:first-child{
                margin: 0px 6px 0px 0px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        flex: 0 1 384px;
    }

    &__column{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.54);
        transition-duration: 0.3s;
        &:hover{
            box-shadow: 0 -2px 0 0 #666666 inset;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    &__right-side {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 69px;
    }

    &__login {
        color: #336FEE;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__login-text{
        width: 37px;
        margin: 0px 8px 0px 0px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__login-image{
        width: 24px;
        height: 24px;
        display: flex;
        justify-items: center;
        align-items: center;
        & img{
            max-width: 19px;
        }
    }
}
.content-1 {
    width: 100%;
    height: 812px;
    padding: 40px 128px;
    margin: 0px auto;
    text-align: center;
}
.content-top {
    text-align: center;
    display: inline-block;

    &__text {
        max-width: 912px;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.8);
        margin: 0px auto;
    }

    &__title {
        height: 48px;
        font-weight: 900;
        font-size: 44px;
        margin: 0px 0px 24px 0px;
    }

    &__subtitle {
        height: 24px;
        font-size: 15px;
    }

    &__button {
        display: inline-block;
        background-color: #FFDD2D;
        padding: 16px 36px;
        border-radius: 8px;
        font-size: 15px;
        line-height: 24px;
        margin: 40px auto 0px;
        overflow: hidden;
        transition: 0.3s, border 0s;

        &:hover{
            background-color: #FCC521;
        }

        &:active{
            background-color: #FAB619;
        }

        &:focus{
            box-shadow:0px 2px 0px #000 inset, 0px -2px 0px #000 inset, 2px 0px 0px #000 inset, -2px 0px 0px #000 inset;
        }
    }
}
.content-image {
    margin: 64px auto 0px;
    max-width: 1104px;
    height: 460px;
    & img{
        max-width: 100%;
    }
}